<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Selenium Zappos"  parallel="false">

    <test name="allTests">
        <groups>
            <run>
                <include name="regression"/>
            </run>
        </groups>
        <classes>
            <class name="HomePageTest"/>
            <class name="pages.men.MensShoesTest"/>
        </classes>
    </test>

</suite>